<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.process.modules.flow.mapper.FlowTypeMapper">

    <resultMap type="FlowType" id="FlowTypeResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="virtualNode" column="virtual_node"/>
        <result property="pid" column="pid"/>
        <result property="pName" column="pname"/>
        <result property="shortNo" column="short_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="findById" parameterType="Long" resultType="FlowType">
        SELECT * FROM FLOW_TYPE WHERE ID = #{id};
    </select>

    <select id="findAllOrderByShortNoAsc" resultMap="FlowTypeResult">
        SELECT * FROM FLOW_TYPE ORDER BY SHORT_NO ASC
    </select>

    <insert id="save" parameterType="FlowType">
        INSERT FLOW_TYPE (NAME, PID, PNAME, SHORT_NO, CREATE_TIME, CREATE_BY)
        VALUES (#{name}, #{pid}, #{pName}, #{shortNo}, #{createTime}, #{createBy});
    </insert>

    <update id="update" parameterType="FlowType">
        UPDATE FLOW_TYPE SET
        <if test="pid != null and pid != ''">
            pid = #{pid},
        </if>
        <if test="pName != null and pName != ''">
            PNAME = #{pName},
        </if>
        <if test="name != null and name != ''">
            NAME = #{name},
        </if>
        <if test="shortNo != null and shortNo != ''">
            SHORT_NO = #{shortNo},
        </if>
        UPDATE_BY = #{updateBy},
        UPDATE_TIME = #{updateTime}
        WHERE ID = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM FLOW_TYPE WHERE ID = #{id}
    </delete>

    <select id="count" parameterType="hashMap" resultType="int">
        SELECT COUNT(1) FROM FLOW_TYPE
        <where>
            <if test="pid != null and pid != ''">
                PID = #{pid}
            </if>
            <if test="id != null and id != ''">
                ID = #{id}
            </if>
            <if test="name != null and name != ''">
                NAME = #{name}
            </if>
        </where>
    </select>

    <update id="sort" parameterType="list">
        UPDATE FLOW_TYPE
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="PID = CASE" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.pid!=null">
                        WHEN ID=#{item.id} THEN #{item.pid}
                    </if>
                </foreach>
            </trim>
            <trim prefix="PNAME = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.pname!=null">
                        when ID=#{item.id} then #{item.pname}
                    </if>
                </foreach>
            </trim>
            <trim prefix="SHORT_NO = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.shortNo!=null">
                        when ID=#{item.id} then #{item.shortNo}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE ID IN
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

</mapper>

