<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.process.modules.flow.mapper.FlowAttachmentConfigMapper">

    <resultMap type="FlowAttachmentConfig" id="FlowAttachmentConfigResult">
        <id property="id" column="ID_"/>
        <result property="procDefKey" column="PROC_DEF_KEY_"/>
        <result property="attachType" column="ATTACH_TYPE_"/>
        <result property="delFlag" column="DEL_FLAG_"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <select id="listPage" parameterType="hashMap" resultType="hashMap">
        SELECT ARP.ID_          AS processDefId,
               ARP.NAME_        AS processName,
               ARP.KEY_         AS processKey,
               ARP.VERSION_     AS processVersion,
               FAC.ATTACH_TYPE_ AS attachType
        FROM FLOW_ATTACHMENT_CONFIG FAC
        LEFT JOIN ACT_RE_PROCDEF ARP ON FAC.PROC_DEF_KEY_ = ARP.KEY_
    </select>

    <select id="findByParams" parameterType="hashMap" resultMap="FlowAttachmentConfigResult">
        SELECT * FROM FLOW_ATTACHMENT_CONFIG WHERE
        <if test="procDefKey != null and procDefKey != ''">
            PROC_DEF_KEY_ = #{procDefKey}
        </if>
    </select>
</mapper>