<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header(${data.title})"/>
    <script th:src="'/plugins/jsignature/jSignature.min.js?_=' + ${productVersion}"></script>
    <script th:src="'/plugins/jsignature/jSignature.min.noconflict.js?_=' + ${productVersion}"></script>
</head>
<body class="gray-bg">
<input type="hidden" name="flow_taskId" th:value="${data.flow.taskId}" />
<input type="hidden" name="flow_taskName" th:value="${data.flow.taskName}" />
<input type="hidden" name="flow_taskDefKey" th:value="${data.flow.taskDefKey}" />
<input type="hidden" name="flow_procInsId" th:value="${data.flow.procInsId}" />
<input type="hidden" name="flow_procDefId" th:value="${data.flow.procDefId}" />
<input type="hidden" name="flow_procDefKey" th:value="${data.flow.procDefKey}" />
<input type="hidden" name="flow_businessId" th:value="${data.flow.businessId}" />
<input type="hidden" name="flow_comment" th:value="${data.flow.comment}" />

<input type="hidden" name="flow_edit_status" th:value="${data.status}" />

<div class="container-div">
    <ul class="nav nav-tabs" role="tablist" style="margin-top: 5px">
        <li class="active" role="presentation"><a data-toggle="tab" href="#formTab" role="tab"
                                                  th:text="${data.title}"></a></li>
        <%if(Strings.isNotBlank(data.flow.businessId)){%>
        <li role="presentation"><a data-toggle="tab" href="#informationTab" role="tab">流转信息</a></li>
        <%}%>
        <li role="presentation"><a data-toggle="tab" href="#diagramTab" role="tab">流程图</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="formTab" role="tabpanel">
            <div class="box-main" id='formBoxMain'>
                <%include(data.formPage){}%>
            </div>
        </div>
        <%if(Strings.isNotBlank(data.flow.businessId)){%>
        <div class="tab-pane" id="informationTab" role="tabpanel">
            <iframe allowtransparency-y="yes" border="0" frameborder="no" height="400px" id="histoicFlowList"
                    marginheight="0" marginwidth="0"
                    scrolling-x="no" scrolling-y="auto" width="100%"></iframe>
        </div>
        <%}%>
        <div class="tab-pane" id="diagramTab" role="tabpanel" style="overflow: auto">
            <img src="/flow/process/resource/read?procDefId=${data.flow.procDefId}&resType=image"
                 style="margin: 0 auto;display: block;">
        </div>
    </div>
    <div id="container">
        <footer class="navbar-fixed-bottom audit-control">
            <%if(data.status=='AUDIT'){%>
            <div class="row comment-box" th:if="${extensionProperty.replyOpinion}">
                <label class="control-label col-sm-12" th:text="${extensionProperty.replyOpinionName}">
                </label>
                <div class="col-sm-12">
                    <textarea class="form-control required" name="flowComment" rows="3" style="resize: none"></textarea>
                </div>
            </div>
            <%}%>
            <div class="footer-btns">
                <%if(data.status=='EDIT'){%>
                <button class="btn btn-primary " type="button" onclick="handleSave(true)"><i class="fa fa-check"></i>&nbsp;提交下一步
                </button>
                <%}else if(data.status=='AUDIT'){%>
                <button class="btn btn-primary " type="button" onclick="handleSave(true)"><i class="fa fa-check"></i>&nbsp;<span
                        th:text="${extensionProperty.agreeButtonName}"></span></button>
                <button class="btn btn-danger " type="button" onclick="handleSave(false)"><i class="fa fa-times"></i>&nbsp;<span
                        th:text="${extensionProperty.refuseButtonName}"></span></button>
                <button class="btn btn-warning " type="button" onclick="handleBackToStep()"
                        th:if="${extensionProperty.callBackType != 'PREVIOUS_STEP'}">
                    <i class="fa fa-undo"></i>&nbsp;<span th:if="${extensionProperty.callBackType != 'PREVIOUS_STEP'}">自由回退</span>
                    <span th:if="${extensionProperty.callBackType == 'PREVIOUS_STEP'}">驳回</span>
                </button>
                <div :disabled="fromDataSubmit" @click="handleAddMultiInstance"
                     class="btn btn-sm btn-warning"
                     v-if="extensionProperty.multiInstanceNode && extensionProperty.addMultiInstance">
                    <i class="fa fa-exchange"></i>加签
                </div>
                <button class="btn btn-warning " type="button" onclick="handleAddMultiInstance()"
                        th:if="${extensionProperty.multiInstanceNode && extensionProperty.addMultiInstance}"><i
                        class="fa fa-exchange"></i>&nbsp;加签
                </button>
                <button class="btn btn-warning " type="button" onclick="handleConnectionCallBackSave(false)"
                        th:if="${extensionProperty.connectionCallBack}"><i class="fa fa-exchange"></i>&nbsp;驳回
                </button>
                <button onclick="handleWritingSignature()" class="btn btn-sm btn-warning"
                        type="button" th:if="${extensionProperty.handwritingSignature}">
                    <i class="fa fa-edit"></i>
                    <span th:if="${flow.handWritingSignatureData==''}">手写签字</span>
                    <span v-if="${flow.handWritingSignatureData!==''}">查看签字</span>
                </button>
                <%}%>
                <button onclick="handleClose()" class="btn btn-sm btn-default" type="button">
                    <i class="fa fa-close"></i>关闭页面
                </button>
            </div>
        </footer>
        <div>
            <div id="callBackNodes" style="display: none;padding: 8px">
                <select class="form-control" v-model="flow.backToTaskDefKey">
                    <option value="">请选择</option>
                    <option :value="item" v-for="(item,i) in extensionProperty.callBackNodes.split(',')"
                            v-text="extensionProperty.callBackNodesDesc.split(',')[i]"></option>
                </select>
            </div>
        </div>
        <!-- 签字区域-->
        <div class="signature" id="signature"></div>
        <div class="navbar-fixed-bottom" id="signatureBtn" style="display: none">
            <div class="footer-btns">
                <div @click="handleWritingSignatureOk" class="btn btn-sm btn-primary">确定</div>
                <div @click="handleWritingSignatureReset" class="btn btn-sm btn-primary">重写</div>
                <div @click="handleWritingSignatureChange" class="btn btn-sm btn-primary">取消</div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "flow/process";

    var intViewportHeight = window.innerHeight - 175;

    var flow = {
        backToTaskDefKey: '',
        addMultiInstanceAssignee: '',
        flowNextReviewerAssignee: '',
        handWritingSignatureData: '',
        pass: true,
        turnDown: false,
        comment: ""
    };

    var extensionProperty = {
        callBackType: "NONE",
        callBackNodes: "",
        callBackNodesDesc: "",
        connectionCallBack: false,
        multiInstanceNode: false,
        addMultiInstance: false,
        delMultiInstance: false,
        delMultiInstanceExecutionIsCompleted: false,
        handwritingSignature: false,
        replyOpinion: false,
        agreeButtonName: "同意",
        refuseButtonName: "拒绝",
        replyOpinionName: "批复意见",
        dynamicFreeChoiceNextReviewerMode: false
    };

    var formDataSubmit = false;
    var boxMainHeight = intViewportHeight;
    var flowEditStatus = $("input[name='flow_edit_status']").val();
    var signatureInit = false;

    var flowData;
    function handleInit() {
        if (businessId != undefined && businessId.length > 0) {
            $.operate.post("/general/flow/process/loadFormData", {flow: this.flow}, function (result) {
                if (result.ok) {
                    formData = result.data;
                }
            });
        }
        $.operate.post("${base}/flowTask/getUserTaskExtension", {
            taskDefKey: this.flow.taskDefKey,
            procDefId: this.flow.procDefId
        }, function (data) {
            extensionProperty = data;
            var showReplyOpinion = true;
            if (extensionProperty.replyOpinion == false || flowEditStatus == 'EDIT' || flowEditStatus == 'VIEW') {
                //不允许填写意见 或者是 流程发起者步骤
                // vm.boxMainHeight = vm.boxMainHeight + 75;
                showReplyOpinion = false;
            }
            // if (showReplyOpinion) {
            //     vm.boxMainHeight = vm.boxMainHeight - 32;
            // }
            // $("#histoicFlowList").css({height: vm.boxMainHeight + 'px'});
            // $("#diagramTab").css({height: vm.boxMainHeight + 'px'});
            // $("#formBoxMain").css({height: vm.boxMainHeight + 'px'});
        });
        if (handleInitAfter != undefined) {
            handleInitAfter();
        }
        if (businessId != "") {
            var url = "/flowTask/histoicFlow?procInsId=${data.flow.procInsId}&startAct=&endAct=&t=" + new Date().getTime();
            $("#histoicFlowList").attr("src", url);
        }
    }

    function handleSave() {
        $.modal.confirm("确认提交并完成流程任务吗?", function () {
            flow.pass = pass;
            flow.turnDown = false;
            if (formDataSubmit == false) {
                if (extensionProperty.dynamicFreeChoiceNextReviewerMode && flow.delegateStatus == '') {
                    handleChoiceNextReviewerUser();
                } else {
                    handleDoSaveAudit();
                }
            } else {
                $.modal.msg('数据正在提交，请稍候...')
            }
        });
    }

    function handleDoSaveAudit() {
        var status = handleSaveAuditBefor == undefined || form.handleSaveAuditBefor();
        if (status) {
            formDataSubmit = true;
            $.operate.post("/general/flow/process/saveAudit", {
                form: formData,
                flow: flow
            }, function (data) {
                $.modal.alert(data)
                if (data.ok) {
                    setTimeout(function () {
                        window.parent.layer.closeAll()
                    }, 1000);
                } else {
                    fromDataSubmit = false;
                }
            }, "JSON");
        } else {
            console.info("校验失败！")
        }
    }

    function handleChoiceNextReviewerUser() {
        var post = {form: form.formData, flow: flow};
        $.operate.post("/general/flow/process/getNextNode", post, function (data) {
            if (data.ok) {
                var opt = {
                    option: {
                        url: "/general/flow/process/choiceNextReviewerUser",
                        method: "post",
                        param: {
                            flow: vm.flow,
                            nextNodeId: data.data
                        },
                        key: "query",
                        checkbox: false,
                        openSearch: false,
                        selectPrimaryKey: "userName",
                        selectPrimaryValues: "",
                        cols: [
                            {field: 'realName', title: '姓名'},
                            {field: 'userName', title: '用户名'},
                            {field: 'deptName', title: '部门'},
                        ],
                    },
                    title: "请选择下一步流程办理人",
                    width: "600px",
                    height: "600px",
                    onOk: function (selectData) {
                        if (selectData.length == 0) {
                            core.warn("请选择下一步流程办理人")
                            return false;
                        }
                        flow.flowNextReviewerAssignee = selectData[0].userName;
                        handleDoSaveAudit();
                        return true;
                    },
                }
                // core.showChoseTableData(opt);
                // TODO 渲染选择下一步审核人弹出层
            } else {
                //下一步不是用户节点，忽略[选择下一步审核人]的操作，直接完成任务
                handleDoSaveAudit();
            }
        });
    }

    function handleBackToStep() {
        $.modal.confirm("确认回退吗？", function () {
            if (extensionProperty.callBackType == 'FREE_STEP') {
                layer.open({
                    type: 1,
                    title: "请选择回退节点",
                    area: ['300px', '150px'],
                    content: $("#callBackNodes"),
                    btn: ['确定', '取消'],
                    btn1: function (index) {
                        vm.handleDoBackToStep();
                        layer.close(index);
                    },
                    success: function (layero) {
                        layer.setTop(layero);
                    }
                });
            } else {
                handleDoBackToStep()
            }
        });
    }

    function handleDoBackToStep() {
        if (formDataSubmit == false) {
            var status = form.handleBackToStepBefor == undefined || form.handleBackToStepBefor();
            if (status) {
                fromDataSubmit = true;
                $.operate.post("${base}/general/flow/process/backToStep", {
                    form: form.formData,
                    flow: flow,
                }, function (data) {
                    $.modal.alert(data)
                    if (data.ok) {
                        setTimeout(function () {
                            window.parent.layer.closeAll()
                        }, 1000);
                    } else {
                        formDataSubmit = false;
                    }
                }, "JSON");
            } else {
                console.info("校验失败！")
            }
        } else {
            $.modal.msg("数据正在提交，请稍候...")
        }
    }

    function handleAddMultiInstance() {
        $.modal.confirm("确认加签吗？", function () {
            if (formDataSubmit == false) {
                var status = handleAddMultiInstanceBefor == undefined || handleAddMultiInstanceBefor();
                if (status) {
                    // TODO 选择加签人员
                    // core.showSelectUsers({
                    //     option: {
                    //         multipleSelection: false,
                    //     },
                    //     onOk: function (users) {
                    //         if (users.length == 0) {
                    //             core.warn("请选择人员")
                    //             return false;
                    //         }
                    //         formDataSubmit = true;
                    //         flow.addMultiInstanceAssignee = users[0].userName;
                    //         $.post("${base}/general/flow/process/addMultiInstance", {
                    //             form: form.formData,
                    //             flow: vm.flow,
                    //         }, function (data) {
                    //             core.msg(data);
                    //             if (data.ok) {
                    //                 setTimeout(function () {
                    //                     window.parent.layer.closeAll()
                    //                 }, 1000);
                    //             } else {
                    //                 formDataSubmit = false;
                    //             }
                    //         }, "JSON");
                    //         return true;
                    //     }
                    // });
                } else {
                    console.info("校验失败！")
                }
            } else {
                $.modal.msg("数据正在提交，请稍候...")
            }
        });
    }

    function handleConnectionCallBackSave() {
        if (flow.comment.length == 0) {
            $.modal.alertError("请输入" + this.extensionProperty.replyOpinionName)
            return false;
        }
        $.modal.confirm("确认驳回吗？", function () {
            flow.pass = pass;
            flow.turnDown = true;
            if (fromDataSubmit == false) {
                handleDoSaveAudit();
            } else {
                $.modal.alert("数据正在提交，请稍候...")
            }
        });
    }

    function handleClose() {

    }

    function handleWritingSignature() {
        if (this.signatureInit) {
            signature.show();
        } else {
            signature = $("#signature").jSignature();
            signature.addClass("open");
            this.signatureInit = true;
        }
        $("#signatureBtn").show();
    }
</script>
</body>
</html>