<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header(${title})"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<input type="hidden" id="flow_taskId" th:value="${flow.taskId}"/>
<input type="hidden" id="flow_taskName" th:value="${flow.taskName}"/>
<input type="hidden" id="flow_taskDefKey" th:value="${flow.taskDefKey}"/>
<input type="hidden" id="flow_procInsId" th:value="${flow.procInsId}"/>
<input type="hidden" id="flow_executionId" th:value="${flow.executionId}"/>
<input type="hidden" id="flow_procDefId" th:value="${flow.procDefId}"/>
<input type="hidden" id="flow_procDefKey" th:value="${flow.procDefKey}"/>
<input type="hidden" id="flow_businessId" th:value="${flow.businessId}"/>
<input type="hidden" id="flow_comment" th:value="${flow.comment}"/>
<input type="hidden" id="flow_taskType" th:value="${flow.taskType}"/>

<input type="hidden" id="flow_edit_status" th:value="${status}"/>

<div class="container-div">
    <!-- 流程页面按钮区域 -->
    <div id="container">
        <!-- 审批意见 -->
        <!--        <div class="row comment-box" id="replyOpinion" th:if="${#strings.equals(status, 'AUDIT')}">-->
        <!--            <label class="control-label col-sm-12" id="replyOpinionName">审批意见</label>-->
        <!--            <div class="col-sm-12">-->
        <!--                <textarea class="form-control required" name="flowComment" rows="3" style="resize: none"></textarea>-->
        <!--            </div>-->
        <!--        </div>-->
        <!-- 按钮区域 -->
        <div class="footer-btns">
            <button th:if="${#strings.equals(status, 'AUDIT')}" class="btn btn-primary" type="button"
                    onclick="handleSave()"><i class="fa fa-check"></i>&nbsp;保存
            </button>
            <button th:if="${!#strings.equals(status, 'VIEW')}" class="btn btn-primary" type="button"
                    onclick="handleSubmit()"><i class="fa fa-check"></i>&nbsp;<span id="flowAgreeButtonName">提交</span>
            </button>
            <button th:if="${#strings.equals(status, 'AUDIT')}" class="btn btn-danger" type="button"
                    onclick="handleReject()"><i class="fa fa-times"></i>&nbsp;<span
                    id="flowRefuseButtonName">拒绝</span></button>
            <button th:if="${#strings.equals(status, 'AUDIT')}" class="btn btn-warning" type="button"
                    onclick="handleBackToStep()">
                <i class="fa fa-undo"></i>&nbsp;
                <span id="callBackTypeText">驳回</span><!-- 自由回退 -->
            </button>
            <!-- v-if="extensionProperty.multiInstanceNode && extensionProperty.addMultiInstance" -->
            <button th:if="${#strings.equals(status, 'AUDIT')}" class="btn btn-primary" type="button"
                    onclick="handleAddMultiInstance()">
                <i class="fa fa-exchange"></i>&nbsp;加签
            </button>
            <button onclick="handleClose()" class="btn btn-default" type="button">
                <i class="fa fa-close"></i>关闭页面
            </button>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-top: 5px">
            <li class="active" role="presentation">
                <a data-toggle="tab" href="#flowMainContainer" role="tab" th:text="${title}"></a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" href="#flowAttachmentContainer" id="flowAttachmentTab" role="tab">流程附件</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" href="#informationContainer" id="informationTab" role="tab">审批意见</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" href="#diagramContainer" id="diagramTab" role="tab">流程图</a>
            </li>
        </ul>
        <div class="tab-content" style="height: 1000px;">
            <div class="tab-pane active" id="flowMainContainer" role="tabpanel">
                <div th:replace="${formPage} :: form"></div>
            </div>
            <div class="tab-pane" id="flowAttachmentContainer" role="tabpanel">
                <iframe allowtransparency-y="yes" border="0" frameborder="no" height="1000" id="flowAttachmentList"
                        marginheight="0" marginwidth="0" scrolling-x="no" scrolling-y="auto" width="100%"></iframe>
            </div>
            <div class="tab-pane" id="informationContainer" role="tabpanel">
                <iframe allowtransparency-y="yes" border="0" frameborder="no" height="1000" id="histoicFlowList"
                        marginheight="0" marginwidth="0" scrolling-x="no" scrolling-y="auto" width="100%"></iframe>
            </div>
            <div class="tab-pane" id="diagramContainer" role="tabpanel" style="overflow: auto">
                <iframe allowtransparency-y="yes" border="0" frameborder="no" height="1000" id="procDiagram"
                        marginheight="0" marginwidth="0" scrolling-x="no" scrolling-y="auto" width="100%"></iframe>
            </div>
        </div>
        <div>
            <!-- 选择退回节点弹出层 -->
            <div id="callBackNodes" style="display: none;padding: 8px">
                <!-- 审批意见 -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 id="backOpinionName">审批意见</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <textarea class="form-control required" id="flowBackComment" rows="3"
                                  style="resize: none"></textarea>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>选择退回节点</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" id="backNodeContainer">
                    </div>
                </div>
            </div>
            <!-- 提交下一步弹出层 -->
            <div style="display: none;padding: 8px;" id="submitNodeWin">
                <!-- 审批意见 -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 id="replyOpinionName">审批意见</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <textarea class="form-control required" id="flowComment" rows="3"
                                  style="resize: none"></textarea>
                    </div>
                </div>
                <!-- 下一步节点 -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>下一步节点</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-md-12" id="nextNodeContainer">
                        </div>
                        <p style="margin: 0 0 0px;line-height: 0px;">&nbsp;</p>
                    </div>
                </div>
            </div>
            <div style="display: none;padding: 8px;" id="rejectApplyWin">
                <!-- 审批意见 -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 id="rejectOpinionName">审批意见</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <textarea class="form-control required" id="flowRejectComment" rows="3"
                                  style="resize: none"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: select2-js"/>
<script th:replace="${formPage} :: script"/>
<script th:inline="javascript">
    var prefix = ctx;

    var intViewportHeight = window.innerHeight - 175;

    var flow = {
        taskType: '',
        taskId: '',
        taskName: '',
        taskDefKey: '',
        procInsId: '',
        executionId: '',
        procDefId: '',
        procDefKey: '',
        businessId: '',
        comment: '',
        delegateStatus: '',
        nextTaskType: '',
        nextTaskDefKey: '',
        nextTaskAssignees: '',
        addMultiInstanceAssignee: '',
        flowNextReviewerAssignee: '',
        handWritingSignatureData: '',
        pass: true, // 审批是否通过
        turnDown: false //驳回
    };

    var extensionProperty = {
        callBackType: "NONE",
        callBackNodes: "",
        callBackNodesDesc: "",
        connectionCallBack: false,
        multiInstanceNode: false,
        addMultiInstance: false,
        delMultiInstance: false,
        delMultiInstanceExecutionIsCompleted: false,
        handwritingSignature: false,
        replyOpinion: false,
        agreeButtonName: "同意",
        refuseButtonName: "拒绝",
        replyOpinionName: "批复意见",
        dynamicFreeChoiceNextReviewerMode: false
    };

    var formDataSubmit = false;
    var boxMainHeight = intViewportHeight;
    var flowEditStatus;

    var flowFormData;

    $(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // console.info(e);
            let tabName = $(e.target).attr("id");
            if ("flowAttachmentTab" === tabName) {
                $("#flowAttachmentContainer > iframe").attr("src", "/flowAttachment/detail?procInsId=" + flow.procInsId + "&status=" + status);
            }
            if ("informationTab" === tabName) {
                $("#informationContainer > iframe").attr("src", "/flowTask/histoicFlow?procInsId=" + flow.procInsId + "&startAct=&endAct=&t=" + new Date().getTime());
            }
            if ("diagramTab" === tabName) {
                $("#diagramContainer > iframe").attr("src", "/flowTask/diagramViewer?definitionId=" + flow.procDefId + "&instanceId=" + flow.procInsId);
            }
        });
    });


    function handleInit() {
        flow.taskType = $("#flow_taskType").val();
        flow.taskId = $("#flow_taskId").val();
        flow.taskName = $("#flow_taskName").val();
        flow.taskDefKey = $("#flow_taskDefKey").val();
        flow.procInsId = $("#flow_procInsId").val();
        flow.executionId = $("#flow_executionId").val();
        flow.procDefId = $("#flow_procDefId").val();
        flow.procDefKey = $("#flow_procDefKey").val();
        flow.businessId = $("#flow_businessId").val();
        flow.comment = $("#flow_comment").val();
        flowEditStatus = $("#flow_edit_status").val();
        console.info(flowEditStatus);
        axios.post("/general/flow/process/loadFormData", flow).then(function (res) {
            let data = res.data;
            if (data.code == 0) {
                flowFormData = data.data;
                Object.keys(flowFormData).forEach(key => {
                    let val = flowFormData[key];
                    if (val) {
                        if (val && (val.startsWith("[") || val.startsWith("{"))) {
                            flowFormData[key] = JSON.parse(val);
                        }
                    }
                });
                setPageData();
            }
        }).catch(reason => console.log(reason));

        axios.post('/flowTask/getUserTaskExtension', $.param({
            taskDefKey: flow.taskDefKey,
            procDefId: flow.procDefId
        }, {arrayFormat: 'brackets'})).then(res => {
            extensionProperty = res.data;
            var showReplyOpinion = true;
            if (extensionProperty.replyOpinion == false || flowEditStatus == 'EDIT' || flowEditStatus == 'VIEW') {
                //不允许填写意见 或者是 流程发起者步骤
                // vm.boxMainHeight = vm.boxMainHeight + 75;
                showReplyOpinion = false;
            }
            // if (showReplyOpinion) {
            //     vm.boxMainHeight = vm.boxMainHeight - 32;
            // }
            // $("#histoicFlowList").css({height: vm.boxMainHeight + 'px'});
            // $("#diagramTab").css({height: vm.boxMainHeight + 'px'});
            // $("#formBoxMain").css({height: vm.boxMainHeight + 'px'});
        });

        if (handleInitAfter != undefined) {
            handleInitAfter();
        }
        // if (flow.businessId != "") {
        //     var url = "/flowTask/histoicFlow?procInsId=" + flow.procInsId + "&startAct=&endAct=&t=" + new Date().getTime();
        //     $("#histoicFlowList").attr("src", url);
        // }
    }

    handleInit();

    function handleSave() {
        var params = {form: getFormData(), flow: flow};
        // 保存按钮操作
        axios.post("/general/flow/process/saveData", params).then(res => {
            let data = res.data;
            if (data.code == 0) {
                $.modal.msg("流程数据保存成功！");
            } else {
                $.modal.msg("流程数据保存失败！");
            }
        });
    }

    // 提交按钮操作方法
    function handleSubmit() {
        flow.pass = true;
        flow.turnDown = false;

        var params = {form: getFormData(), flow: flow};
        // 获取下一步节点信息
        axios.post("/general/flow/process/getNextNode", params).then(res => {
            let nextStepInfoArr = res.data.data;
            let nodeHtmlArr = [];
            if (!nextStepInfoArr || nextStepInfoArr.length == 0) {
                $.modal.alert("获取下一步节点信息出错！");
                return;
            }
            for (let i = 0; i < nextStepInfoArr.length; i++) {
                nextStepInfo = nextStepInfoArr[i];
                if ("UserTaskBack" === nextStepInfo.nodeType) {
                    nodeHtmlArr.push('<div class="col-md-12" style="border: 1px solid #e0e0e0;padding: 0px 0px;">');
                    nodeHtmlArr.push('<div class="col-md-12">');
                    nodeHtmlArr.push('    <div class="radio" style="padding-left: 0px;">');
                    nodeHtmlArr.push('        <label style="line-height: 22px;"><input type="radio" value="BackSubmit" name="nextStepNode" data-id="' + nextStepInfo.id + '"> <i></i> ' + nextStepInfo.name + '(<span style="color:red;">退回节点</span>)(<span style="color:red;">单人处理</span>)</label>');
                    nodeHtmlArr.push('    </div>');
                    nodeHtmlArr.push('</div>');
                    nodeHtmlArr.push('<div class="col-md-2" style="line-height: 42px;">');
                    nodeHtmlArr.push('    处理人：');
                    nodeHtmlArr.push('</div>');
                    nodeHtmlArr.push('<div class="col-md-10">');

                    let assignees = nextStepInfo.assignees;
                    for (let i = 0; i < assignees.length; i++) {
                        let assignee = assignees[i];
                        nodeHtmlArr.push('    <div class="radio check-box" style="padding-left: 0px;">');
                        nodeHtmlArr.push('        <label style="line-height: 22px;"><input type="radio" value="' + assignee.user_id + '" name="backSubmitStepAssignee"> <i></i> ' + assignee.user_name + '(' + assignee.user_id + ')</label>');
                        nodeHtmlArr.push('    </div>');
                    }
                    nodeHtmlArr.push('</div>');
                    nodeHtmlArr.push('</div>');
                } else if ("UserTask" === nextStepInfo.nodeType) {
                    nodeHtmlArr.push('<div class="col-md-12" style="border: 1px solid #e0e0e0;padding: 0px 0px;">');
                    nodeHtmlArr.push('<div class="col-md-12">');
                    nodeHtmlArr.push('    <div class="radio" style="padding-left: 0px;">');
                    nodeHtmlArr.push('        <label style="line-height: 22px;"><input type="radio" value="Normal" name="nextStepNode"> <i></i> ' + nextStepInfo.name + '(<span style="color:red;">单人处理</span>)</label>');
                    nodeHtmlArr.push('    </div>');
                    nodeHtmlArr.push('</div>');
                    nodeHtmlArr.push('<div class="col-md-2" style="line-height: 42px;">');
                    nodeHtmlArr.push('    处理人：');
                    nodeHtmlArr.push('</div>');
                    nodeHtmlArr.push('<div class="col-md-10">');
                    // TODO 需要拿到下一步处理人列表
                    // TODO 单人处理
                    // TODO 多人任一
                    // TODO 多人全部
                    // TODO N人处理
                    let assignees = nextStepInfo.assignees;
                    for (let i = 0; i < assignees.length; i++) {
                        let assignee = assignees[i];
                        nodeHtmlArr.push('    <div class="radio" style="padding-left: 0px;">');
                        nodeHtmlArr.push('        <label style="line-height: 22px;"><input type="radio" value="' + assignee.user_id + '" name="nextStepAssignee"> <i></i> ' + assignee.user_name + '(' + assignee.user_id + ')</label>');
                        nodeHtmlArr.push('    </div>');
                    }
                    nodeHtmlArr.push('</div>');
                    nodeHtmlArr.push('</div>');
                } else if ("EndNoneEvent" === nextStepInfo.nodeType) {
                    nodeHtmlArr.push('<div class="col-md-12" style="border: 1px solid #e0e0e0;padding: 0px 0px;">');
                    nodeHtmlArr.push('    <div class="col-md-12">');
                    nodeHtmlArr.push('        <div class="radio" style="padding-left: 0px;">');
                    nodeHtmlArr.push('            <label style="line-height: 22px;"><input type="radio" value="End" name="nextStepNode"> <i></i> 结束</label>');
                    nodeHtmlArr.push('        </div>');
                    nodeHtmlArr.push('    </div>');
                    nodeHtmlArr.push('</div>');
                }
            }


            if (nodeHtmlArr.length == 0) {
                $.modal.alert("获取下一步节点信息失败!");
                return;
            }

            $("#nextNodeContainer").html(nodeHtmlArr.join(""));
            $("input[name='nextStepNode']")[0].checked = true;
            if ($("input[name='backSubmitStepAssignee']")[0]) {
                $("input[name='backSubmitStepAssignee']")[0].checked = true;
            }
            if ($("input[name='nextStepAssignee']")[0]) {
                $("input[name='nextStepAssignee']")[0].checked = true;
            }

            // 显示流程提交窗口
            layer.open({
                type: 1,
                title: "提交下一步",
                area: ['800px', '600px'],
                content: $("#submitNodeWin"),
                btn: ['确定', '取消'],
                btn1: function (index) {
                    flow.comment = $("#flowComment").val();
                    if (!flow.comment) {
                        $.modal.alert("请填写提交审批意见。");
                    }

                    if (formDataSubmit == false) {
                        let nextStepNodeChecked = $("input[name='nextStepNode']:checked");
                        let nextStepNodeVal = nextStepNodeChecked.val();
                        flow.nextTaskType = nextStepNodeVal;

                        if ("BackSubmit" === nextStepNodeVal) {
                            flow.nextTaskDefKey = nextStepNodeChecked.attr("data-id");
                            flow.nextTaskAssignees = $("input[name='backSubmitStepAssignee']:checked").val();
                            // 提交到退回节点
                            handleDoSubmitTOBackStep();
                        } else {
                            let nextStepAssignee = $("input[name='nextStepAssignee']:checked").val();
                            flow.nextTaskAssignees = nextStepAssignee;
                            handleDoSaveAudit();
                        }
                    } else {
                        $.modal.msg('数据正在提交，请稍候...')
                    }
                    layer.close(index);
                },
                success: function (layero) {
                    layer.setTop(layero);
                }
            });
        });
    }

    // 拒绝按钮操作方法
    function handleReject() {
        $.modal.confirm("确认拒绝并结束流程么?", function () {
            flow.pass = false;
            flow.turnDown = false;
            flow.comment = $("#flowBackComment").val();
            if (formDataSubmit == false) {
                handleDoSaveAudit();
            } else {
                $.modal.msg('数据正在提交，请稍候...')
            }
        });
    }

    function handleDoSaveAudit() {
        var status = handleSaveAuditBefor == undefined || handleSaveAuditBefor();
        if (status) {
            formDataSubmit = true;
            axios.post("/general/flow/process/saveAudit", {
                form: getFormData(),
                flow: flow
            }).then(res => {
                console.log("提交流程返回", res)
                let data = res.data;
                $.modal.alert(data.msg)
                if (data.code == 0) {
                    setTimeout(function () {
                        window.parent.layer.closeAll()
                    }, 1000);
                } else {
                    fromDataSubmit = false;
                }
            });
        } else {
            console.info("校验失败！")
        }
    }

    // 退回
    function handleBackToStep() {
        if (extensionProperty.callBackType == 'FREE_STEP') {
            var params = {procInsId: flow.procInsId, callBackNodes: extensionProperty.callBackNodes};
            axios.post("/general/flow/process/getBackNode", params).then(res => {
                let data = res.data;
                if (data.code == 0) {
                    // 自由回退
                    let backNodeHtmlArr = [];
                    console.info(data);
                    let callBackNodes = extensionProperty.callBackNodes.split(",");
                    let callBackNodesDesc = extensionProperty.callBackNodesDesc.split(",");
                    for (let i = 0; i < callBackNodes.length; i++) {
                        let backNodeAssignees = data.data[callBackNodes[i]];
                        console.info(backNodeAssignees);
                        backNodeHtmlArr.push('<div class="col-md-12" style="border: 1px solid #e0e0e0;padding: 0px 0px;">');
                        backNodeHtmlArr.push('    <div class="col-md-12">');
                        backNodeHtmlArr.push('        <div class="radio" style="padding-left: 0px;">');
                        backNodeHtmlArr.push('            <label style="line-height: 22px;"><input type="radio" value="' + callBackNodes[i] + '" name="backStepNode"> <i></i> ' + callBackNodesDesc[i] + '</label>');
                        backNodeHtmlArr.push('        </div>');
                        backNodeHtmlArr.push('    </div>');
                        backNodeHtmlArr.push('    <div class="col-md-2" style="line-height: 42px;">');
                        backNodeHtmlArr.push('        处理人：');
                        backNodeHtmlArr.push('    </div>');
                        backNodeHtmlArr.push('    <div class="col-md-10" id="backNodeAssigneContainer">');
                        for (let i = 0; i < backNodeAssignees.length; i++) {
                            let assignee = backNodeAssignees[i];
                            backNodeHtmlArr.push('    <div class="radio" style="padding-left: 0px;">');
                            backNodeHtmlArr.push('        <label style="line-height: 22px;"><input type="radio" value="' + assignee.user_id + '" name="backStepAssignee"> <i></i> ' + assignee.user_name + '(' + assignee.user_id + ')</label>');
                            backNodeHtmlArr.push('    </div>');
                        }
                        backNodeHtmlArr.push('    </div>');
                        backNodeHtmlArr.push('</div>');
                    }
                    // 处理布局问题
                    backNodeHtmlArr.push('<p style="margin: 0 0 0px;line-height: 0px;">&nbsp;</p>');
                    $("#backNodeContainer").html(backNodeHtmlArr.join(""));
                    $("input[name='backStepNode']")[0].checked = true;

                    if($("input[name='backStepAssignee']")[0]) {
                        $("input[name='backStepAssignee']")[0].checked = true;
                    }

                    layer.open({
                        type: 1,
                        title: "退回",
                        area: ['800px', '600px'],
                        content: $("#callBackNodes"),
                        btn: ['确定', '取消'],
                        btn1: function (index) {
                            let checkedBackNodeDefKey = $("input[name='backStepNode']:checked").val();
                            if (!checkedBackNodeDefKey) {
                                $.modal.msg("请选择要退回到的节点。");
                            }
                            flow.nextTaskType = "Back";
                            flow.nextTaskDefKey = checkedBackNodeDefKey;
                            flow.nextTaskAssignees = $("input[name='backStepAssignee']:checked").val();
                            flow.comment = $("#flowBackComment").val();
                            if (!flow.comment) {
                                $.modal.alert("请填写回退审批意见。");
                            }

                            handleDoBackToStep();
                            layer.close(index);
                        },
                        success: function (layero) {
                            layer.setTop(layero);
                        }
                    });
                } else {
                    $.modal.msg("获取退回节点信息失败");
                }
            });
        } else {
            // 划线回退
            handleDoBackToStep()
        }
    }

    function handleDoBackToStep() {
        if (formDataSubmit == false) {
            var status = handleBackToStepBefor == undefined || handleBackToStepBefor();

            if (status) {
                fromDataSubmit = true;
                axios.post("/general/flow/process/backToStep", {
                    form: getFormData(),
                    flow: flow,
                }).then(res => {
                    console.log("驳回返回数据", res);
                    let data = res.data;
                    $.modal.alert(data.msg);
                    if (data.code == 0) {
                        setTimeout(function () {
                            window.parent.layer.closeAll()
                        }, 1000);
                    } else {
                        formDataSubmit = false;
                    }
                });
            } else {
                console.info("校验失败！")
            }
        } else {
            $.modal.msg("数据正在提交，请稍候...")
        }
    }

    function handleDoSubmitTOBackStep() {
        if (formDataSubmit == false) {
            var status = handleSaveAuditBefor == undefined || handleSaveAuditBefor();

            if (status) {
                fromDataSubmit = true;
                axios.post("/general/flow/process/submitToBackStep", {
                    form: getFormData(),
                    flow: flow,
                }).then(res => {
                    console.log("驳回重新提交返回数据", res);
                    let data = res.data;
                    $.modal.alert(data.msg);
                    if (data.code == 0) {
                        setTimeout(function () {
                            window.parent.layer.closeAll()
                        }, 1000);
                    } else {
                        formDataSubmit = false;
                    }
                });
            } else {
                console.info("校验失败！")
            }
        } else {
            $.modal.msg("数据正在提交，请稍候...")
        }
    }

    // 加签
    function handleAddMultiInstance() {
        $.modal.confirm("确认加签吗？", function () {
            if (formDataSubmit == false) {
                var status = handleAddMultiInstanceBefor == undefined || handleAddMultiInstanceBefor();
                if (status) {
                    $.modal.confirm("将加签给【若依】处理，确定么？", function () {
                        formDataSubmit = true;
                        flow.addMultiInstanceAssignee = 1;
                        axios.post("/general/flow/process/addMultiInstance", {
                            form: getFormData(),
                            flow: flow
                        }).then(res => {
                            let data = res.data;
                            $.modal.msg(data.msg);
                            if (data.code == 0) {
                                // TODO 关闭弹出层窗口
                            } else {
                                formDataSubmit = false;
                            }
                        })
                    });
                } else {
                    console.info("校验失败！")
                }
            } else {
                $.modal.msg("数据正在提交，请稍候...")
            }
        });
    }

    function handleConnectionCallBackSave() {
        if (flow.comment.length == 0) {
            $.modal.alertError("请输入" + this.extensionProperty.replyOpinionName)
            return false;
        }
        $.modal.confirm("确认驳回吗？", function () {
            flow.pass = pass;
            flow.turnDown = true;
            if (fromDataSubmit == false) {
                handleDoSaveAudit();
            } else {
                $.modal.alert("数据正在提交，请稍候...")
            }
        });
    }

    function handleClose() {
        $.modal.closeTab();
        try {
            $.modal.close();
        } catch (e) {
            console.info(e);
        }
    }

    function getFormData() {
        let elementArr = document.querySelector("#flowMainContainer").querySelectorAll("[name]");
        let data = {};
        elementArr.forEach(ele => {
            let name = ele.getAttribute("name");
            if (name) {
                let eleVal = ele.value;
                if (eleVal) {
                    let eleTextVal;
                    // 下拉选择框显示值
                    if ("select-one" === ele.type) {
                        eleTextVal = ele.options[ele.selectedIndex].text;
                    }
                    if (name.indexOf(".") != -1) {
                        // 相同前缀的值设置为大json
                        let nameArr = name.split(".");
                        if (!data[nameArr[0]]) {
                            data[nameArr[0]] = {};
                        }
                        data[nameArr[0]][nameArr[1]] = eleVal;
                        if (eleTextVal) {
                            data[nameArr[0]][nameArr[1] + 'Text'] = eleTextVal;
                        }
                    } else {
                        if (eleVal.startsWith("[") || eleVal.startsWith("{")) {
                            // 保存name中不带"."，值为json的域
                            data[name] = eleVal;
                        }
                    }
                }
            }
        });
        Object.keys(data).forEach(function (key) {
            if (typeof data[key] === 'object') {
                data[key] = JSON.stringify(data[key]);
            }
        });
        return data;
    }

    function setPageData() {
        let elementArr = document.querySelector("#flowMainContainer").querySelectorAll("[name]");
        elementArr.forEach(ele => {
            // console.info(ele);
            // console.info(ele.type);
            let eleName = ele.getAttribute("name");
            let eleVal;
            if (eleName.indexOf(".") != -1) {
                let nameArr = eleName.split(".");
                if (flowFormData[nameArr[0]] && flowFormData[nameArr[0]][nameArr[1]]) {
                    eleVal = flowFormData[nameArr[0]][nameArr[1]];
                }
            } else {
                eleVal = flowFormData[eleName];
            }
            if (eleVal) {
                switch (ele.type) {
                    case 'text':
                    case 'textarea':
                        ele.value = eleVal;
                        break;
                    case 'select-one':
                        $(ele).val(eleVal).trigger('change');
                        break;
                    default:
                        ele.value = eleVal;
                }
            }
        });
    }
</script>
</body>
</html>